* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 10px 10px 10px 10px;
    font-size: 1.1rem;
    background-color: rgb(255, 244, 230);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

ul {
    padding-left: 70px;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid rgb(186, 3, 119);
    margin-bottom: 10px;
    height: 43vh;
}

#result {
    background-color: rgb(101, 190, 242);
}

h2 {
    text-align: center;
    padding-top: 4px;
    font-size: 1.5rem;
}

.playTheGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

button {
    font-size: 3rem;
    margin: 0 0.5rem;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(79, 6, 62);
    border: none;
}